.flex {
    display: flex;
  }
  
  .bg-sky-800 {
    background-color: #2c5282;
  }
  
  .text-white {
    color: #fff;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .w-fit {
    width: fit-content;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  